extends layout

block content
    div#container
        p #{description}

        textarea#code
        button#submit #{button_text}
        br
        span#responseLabel
        textarea#response(disabled)
        span#download #{download_label}

